<form id="modify-queue-form" class="form-horizontal">
    <div class="well well-small">

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-devA">Status:</label>

            <div class="controls">
                <select name="status" id="dpq-modify-queue-status">
                    <option
                            {% if item.status == item.WAITING %} selected="selected" {% endif %}
                                                                 value={{ item.WAITING }}>waiting
                    </option>

                    <option
                            {% if item.status == item.IN_PROGRESS %} selected="selected" {% endif %}
                                                                     value={{ item.IN_PROGRESS }}>in progress
                    </option>

                    {% if item.status == item.WAITING %}
                        <option
                                {% if item.status == item.SKIPPED %} selected="selected" {% endif %}
                                                                     value={{ item.SKIPPED }}>skipped
                        </option>
                    {% endif %}

                    {% if item.status == item.IN_PROGRESS %}
                        <option
                                {% if item.status == item.DONE %} selected="selected" {% endif %}
                                                                  value={{ item.DONE }}>done
                        </option>

                        <option
                                {% if item.status == item.REVERTED %} selected="selected" {% endif %}
                                                                      value={{ item.REVERTED }}>reverted
                        </option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>

    <div class="well well-small">

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-key">Story Key:</label>

            <div class="controls">
                <input type="text" name="key" id="dpq-modify-queue-key" value="{{ item.story.key }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-summary">Summary:</label>

            <div class="controls">
                <input type="text" name="summary" id="dpq-modify-queue-summary" value="{{ item.story.summary }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-branch">Branch:</label>

            <div class="controls">
                <select name="branch" id="dpq-modify-queue-branch">
                    {% for branch in active_branches %}
                        {% if item %}
                            <option
                                    {% if item.branch == branch.name %} selected="selected" {% endif %}
                                                                        value={{ branch.name }}>{{ branch.name }}</option>
                        {% else %}
                            <option
                                    {% if branch.name == 'develop' %} selected="selected" {% endif %}
                                                                     value={{ branch.name }}>{{ branch.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-team">Team:</label>
            <div class="controls">
                <select name="team" id="dpq-modify-queue-team">
                    <option value="none">Not specified</option>
                    {% for team in teams %}
                        <option {% if item.team.name == team.name %} selected="selected" {% endif %}
                                value="{{ team.name }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-developer">Developer:</label>

            <div class="controls">
                <input type="text" name="developer" id="dpq-modify-queue-developer" value="{{ item.story.assignee }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-modify-queue-tester">Tester:</label>

            <div class="controls">
                <input type="text" name="tester" id="dpq-modify-queue-tester" value="{{ item.story.tester }}">
            </div>
        </div>

    </div>

    <input type="hidden" id="dpq-modify-queue-owner" value="{{ user.username }}"/>
    <input type="hidden" id="dpq-modify-queue-id" value="{{ item.queue_id }}"/>
</form>
