<script>
    $('a.prevent-default').click(function (event) {
        event.preventDefault();
    });
</script>

<table class="table table-condensed">
    <thead>
    <tr>
        <th id="arrow-up"></th>
        <th style="text-align: center;">#</th>
        <th id="arrow-down"></th>
        <th>Team</th>
        <th>Developer</th>
        <th>Tester</th>
        <th>Key</th>
        <th>Summary</th>
        <th style="width: 100px;">Created</th>
        <th style="width: 6px;"></th>
        <th style="width: 6px;"></th>
        <th style="width: 6px;"></th>
        <th style="width: 80px;">Status</th>
    </tr>
    </thead>
    <tbody>
    {% if data.push_table %}
        {% for item in data.push_table %}
            <tr {% if item.status == item.IN_PROGRESS %} class="warning"
            {% elif item.status == item.JOKER_MODE %} class="info" {% endif %}>
                <td>
                    {% if user.is_superuser %}
                        {% if item.index != data.last_item %}
                            <a class="prevent-default move-link" href="#"
                               onclick="moveRecord('{{ item.queue_id }}', 'up')" title="Move up"><b>↑</b></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {{ item.index }}
                </td>
                <td>
                    {% if user.is_superuser or item.owner == user %}
                        {% if item.index != data.first_item %}
                            <a class="prevent-default move-link" href="#"
                               onclick="moveRecord('{{ item.queue_id }}', 'down')" title="Move down"><b>↓</b></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ item.team.label|safe }}</td>
                <td>{{ item.story.assignee }}</td>
                <td>{{ item.story.tester }}</td>
                <td>{{ item.story.key }} <a href="{{ jira_browse_url }}{{ item.story.key }}" target="_blank">
                    <img src='/media/img/IconAppTypeJira.png' title='Browse story in JIRA'/></a></td>
                <td title="{{ item.summary }}">{{ item.story.summary|truncatechars:120 }}</td>
                <td>{{ item.creation_date|date:"M j, H:i" }}</td>

                {% include "queue/dpq_queue_joker_column.html" %}

                <td>{% if item.owner == user or user.is_superuser %}
                    {% if item.status != item.DONE and item.status != item.REVERTED %}
                        <a href="#dpq-modify-queue" data-toggle="modal" title="Modify record"
                           onclick="fetchQueueObject('{{ item.queue_id }}')"> <i class="icon-wrench"></i>
                        </a> {% endif %} {% endif %}
                </td>
                <td><a href="#dpq-push-details" style="text-decoration: none;"
                       data-toggle="modal" title="View detailed info"
                       onclick="fetchPushDetails('{{ item.queue_id }}')"><i class="icon-info-sign"></i></a>
                </td>

                <td><span {% if item.status == item.IN_PROGRESS %} class="label label-warning"
                    title="In progress since {{ item.push_date|date:"M j, H:i" }}"
                            {% elif item.status == item.JOKER_MODE %} class="label label-success"
                    title="Fixing build since {{ item.push_date|date:"M j, H:i" }}"
                {% endif %}>
                    {{ item.get_status_display }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="12" style="text-align: center; padding-top: 20px;">
                No way! Looks like queue for branch {{ branch }} is empty. Be the first to add your push to the queue!
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
