{% spaceless %}
<div class="span5">
    <h4 style="color: darkgreen; text-align: center"><i class="icon-ok"></i> Went Good</h4>
    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th style="width: 25px;">Rating</th>
                <th>Summary</th>
                <th style="width: 15px;"></th>
            </tr>
        </thead>
        <tbody> {% spaceless %}
            {% if not stickers_good %}
                <tr>
                    <td colspan="2"><span class="pull-right">No stickers yet in this category</span></td>
                </tr>
            {% endif %}
            {% for sticker in stickers_good %}
                <tr title="Created by {{ sticker.created_by.django_user.username }}">
                    <td>{{ sticker.votes }}{% if user.is_authenticated %}
                        &nbsp;<a href="#" class="prevent-default" onclick="voteUp('{{ sticker.id }}')"><i class="icon-thumbs-up"></i></a>{% endif %}</td>
                    <td>{{ sticker.summary }}</td>
                    <td>{% if sticker.created_by.django_user.id == user.id or user.is_superuser %}
                            {% if sticker.votes == 0 %}
                                <i title="Edit sticker" class="icon-pencil"></i>
                            {% else %}
                                <i title="You can't edit sticker that has non-zero rating"
                                   class="icon-info-sign"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %} {% endspaceless %}
        </tbody>
    </table>
</div>

<div class="span5">
    <h4 style="color: darkorange; text-align: center"><i class="icon-remove"></i> Need to Change</h4>
    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th style="width: 25px;">Rating</th>
                <th>Summary</th>
                <th style="width: 15px;"></th>
            </tr>
        </thead>
        <tbody> {% spaceless %}
            {% if not stickers_change %}
                <tr>
                    <td colspan="2"><span class="pull-right">No stickers yet in this category</span></td>
                </tr>
            {% endif %}
            {% for sticker in stickers_change %}
                <tr title="Created by {{ sticker.created_by.django_user.username }}">
                    <td>{{ sticker.votes }}{% if user.is_authenticated %}
                        &nbsp;<a href="#" class="prevent-default" onclick="voteUp('{{ sticker.id }}')"><i class="icon-thumbs-up"></i></a>{% endif %}</td>
                    <td>{{ sticker.summary }}</td>
                    <td>{% if sticker.created_by.django_user.id == user.id or user.is_superuser %}
                            {% if sticker.votes == 0 %}
                                <i title="Edit sticker" class="icon-pencil"></i>
                            {% else %}
                                <i title="You can't edit sticker that has non-zero rating"
                                   class="icon-info-sign"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %} {% endspaceless %}
        </tbody>
    </table>
</div>

<div class="span5">
    <h4 style="color: darkslateblue; text-align: center"><i class="icon-filter"></i> Action Points</h4>
    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody> {% spaceless %}
            {% if not stickers_actions %}
                <tr>
                    <td><span class="pull-right">No stickers yet in this category</span></td>
                </tr>
            {% endif %}
            {% for sticker in stickers_actions %}
                <tr title="Created by {{ sticker.created_by.django_user.username }}">
                    <td>{{ sticker.summary }}</td>
                </tr>
            {% endfor %} {% endspaceless %}
        </tbody>
    </table>
</div>
{% endspaceless %}