{% extends "dpq_base.html" %}
{% block title %}{{ team }} sprint {{ sprint }}{% endblock %}

{% block main %}

<div>
    <div class="btn-group" style="margin-bottom: 20px;">
        {% if user.is_authenticated %}
            <a href="#retro-add-popup"
                   role="button"
                   class="btn btn-small btn-success prevent-default"
                   data-toggle="modal"
                   onclick="fetchLastQueueData()"><i class="icon-plus"></i> Add Sticker</a>
        {% endif %}
</div>

<div>
{% include "retro/dpq_retro_sprintboard_tables.html" %}
</div>

{% include "retro/popups/dpq_retro_add_popup.html" %}

{% endblock %}
