<style type="text/css">
div.dpq-info {
	margin-top: 15px;
}
tr td {
	padding-left: 10px;
}
</style>

<div style="font-size: 16px; font-weight: bold; text-align: center;">
	{{ item.description }}
</div>
<hr />
<div class="dpq-info">
	<ul style="list-style-type: none;">
		<li>Developers: {{ item.developerA }}{% if item.developerB != "" %}, {{ item.developerB }}{% endif %} ({{ item.ps }})</li>
		{% if item.tester != "" %}<li>Tester: {{ item.tester }}</li>{% endif %}
	</ul>
</div>

<div class="well dpq-info" style="margin-top: 10px;">
<table class="table-hover">
  <tbody>
	<tr>
		<td>Creation date</td>
		<td>{{ item.creation_date }}</td>
	</tr>
	
	{% if item.modified_date != None %}
	<tr>
		<td>Modification date</td>
		<td>{{ item.modified_date }}</td>
	</tr>
	{% endif %}
	
	{% if item.push_date != None %}
	<tr>
		<td>Push date</td>
		<td>{{ item.push_date }}</td>
	</tr>
	{% endif %}
	
	{% if item.done_date != None %}
	<tr>
		<td>Done date</td>
		<td>{{ item.done_date }}</td>
	</tr>
	{% endif %}
  </tbody>
</table>
</div>
<div class="dpq-info" style="margin-left: 15px;">
<table class="table-hover">
  <tbody>
    <tr>
    	<td>Created by:</td>
    	<td>{{ item.owner }}</td>
    </tr>
    <tr>
    	<td>Branch:</td>
    	<td>{{ item.branch }}</td>
    </tr>
    <tr>
    	<td>Place in queue:</td>
    	<td>{{ item.index }}</td>
    </tr>
    <tr>
    	<td>Status code:</td>
    	<td>{{ item.status }}</td>
    </tr>    
    <tr>
    	<td>Unique ID:</td>
    	<td>{{ item.queue_id }}</td>
    </tr>    
  </tbody>
</table>
</div>