<div style="padding: 15px;">
    <table class="table table-condensed">
        <tr>
            <th>User Login</th>
            <th>Role</th>
        </tr>

        {% for user in superusers_list %}
            {% if user.username != 'admin' %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                {% if user.is_staff %}
                    <span class="label">
                        coordinator
                    </span>
                {% else %}
                    <span class="label label-success">
                        tester on-duty
                    </span>
                {% endif %}
            </td>
        </tr>
            {% endif %}
        {% endfor %}

    </table>
</div>