<div class="dpq-queue-tabs">
  <ul id="dpq-queue-branches" class="nav nav-tabs">
      <li {% if current_tab == None or current_tab == 'all' %} class="active" {% endif %}
        id="all"><a href="#all_tab" data-toggle="tab">All</a></li>
  {% for branch in active_branches %}
    {% if current_tab %}
      <li {% if current_tab == branch.name %} class="active" {% endif %}
        id="{{ branch.name }}"><a href="#{{ branch.name }}_tab" data-toggle="tab">{{ branch.name }}</a></li>
    {% else %}
      <li id="{{ branch.name }}"><a href="#{{ branch.name }}_tab" data-toggle="tab">{{ branch.name }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  <div id="myTabContent" class="tab-content">
    {% for branch in active_branches %}
      <div class="tab-pane fade in
        {% if current_tab %}
          {% if branch.name == current_tab %}active{% endif %}
        {% endif %}
      " id="{{ branch.name }}_tab">

        <table class="table table-condensed">
          <thead>
            <tr>
              <th style="width: 30px;">#</th>
              <th style="width: 50px;">PS</th>
              <th>Developers</th>
              <th>Tester</th>
              <th>Description</th>
              <th style="width: 80px;">Date</th>
              <!-- <th style="width: 60px;">Branch</th> -->
              <th style="width: 10px;"></th>
              <th style="width: 80px;">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for item in queue %} {% if item.branch.name == branch.name %}
            <tr {% if item.status == item.IN_PROGRESS %} class="warning"
                {% elif item.status == item.REVERTED %} class="error"
                {% elif item.status == item.DONE %} class="success"
                {% endif %}>
              <td>{{ item.index }}</td>
              <td>{{ item.ps }}</td>
              <td>{{ item.developerA }}{% if item.developerB != "" %}, {{ item.developerB }}{% endif %}</td>
              <td>{{ item.tester }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.done_date.date.isoformat }}</td>
              <!-- <td>{{ item.branch.name }}</td> -->
              <td>
                {% if item.owner == user or user.is_superuser %}
                {% if item.status != item.DONE and item.status != item.REVERTED %}
                <a href="#dpq-modify-queue"
                   data-toggle="modal"
                   onclick="fetchQueueObject('{{ item.queue_id }}')">
                   <i class="icon-wrench"></i>
                </a>
                {% endif %}
                {% endif %}
              </td>
              <td>{{ item.get_status_display }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}

    <div class="tab-pane fade in
      {% if current_tab == None or current_tab == 'all' %}active{% endif %}
      " id="all_tab">

        <table class="table table-condensed">
          <thead>
            <tr>
              <th style="width: 30px;">#</th>
              <th style="width: 50px;">PS</th>
              <th>Developers</th>
              <th>Tester</th>
              <th>Description</th>
              <th style="width: 80px;">Date</th>
              <th style="width: 60px;">Branch</th>
              <th style="width: 10px;"></th>
              <th style="width: 80px;">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for item in queue %}
            <tr {% if item.status == item.IN_PROGRESS %} class="warning"
                {% elif item.status == item.REVERTED %} class="error"
                {% elif item.status == item.DONE %} class="success"
                {% endif %}>
              <td>{{ item.index }}</td>
              <td>{{ item.ps }}</td>
              <td>{{ item.developerA }}{% if item.developerB != "" %}, {{ item.developerB }}{% endif %}</td>
              <td>{{ item.tester }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.done_date.date.isoformat }}</td>
              <td>{{ item.branch.name }}</td>
              <td>
                {% if item.owner == user or user.is_superuser %}
                {% if item.status != item.DONE and item.status != item.REVERTED %}
                <a href="#dpq-modify-queue"
                   data-toggle="modal"
                   onclick="fetchQueueObject('{{ item.queue_id }}')">
                   <i class="icon-wrench"></i>
                </a>
                {% endif %}
                {% endif %}
              </td>
              <td>{{ item.get_status_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
