<script>
    function changeActionPointStatus(id) {
        if(confirm("Change action point status?")) {
            $.ajax({
                url: "/api/retro/sticker/change_status/",
                headers: {
                    "Content-type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": $.cookie('csrftoken')
                },
                data: JSON.stringify({
                    "id": id
                })
            }).done(function (data) {
                location.reload();
                });
        };
    }
</script>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Team</th>
            <th>Sprint</th>
            <th style="width: 120px;">Type</th>
            <th>Summary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for sticker in stickers %}
            <tr>
                <td style="text-align: center;">
                    {{ sticker.retroBoard.team.label|safe }}
                </td>
                <td style="text-align: center;">
                    <a href="/retro/{{ sticker.retroBoard.sprint.number }}/{{ sticker.retroBoard.team.name }}/"
                            target="_blank">
                    {{ sticker.retroBoard.sprint.number }}
                    </a>
                </td>
                <td>
                    {{ sticker.type_str }}
                </td>
                <td>
                    {{ sticker.summary }}
                </td>
                <td style="text-align: right">
                    {% if sticker.type == sticker.ACTION %}
                        {% if user.is_superuser %}
                            <a href="#" id="ap{{ sticker.id }}" class="prevent-default" onclick="changeActionPointStatus({{ sticker.id }})">
                        {% endif %}
                        {% if sticker.status_code == 2 %}
                            <span class="label label-success">completed</span>
                        {% elif sticker.status_code == 1 %}
                            <span class="label label-warning">in progress</span>
                        {% else %}
                            <span class="label label-important">scheduled</span>
                        {% endif %}
                        {% if user.is_superuser %}
                            </a>
                        {% endif %}
                    {% elif sticker.type == sticker.GOOD or sticker.type == sticker.CHANGE %}
                        {% if sticker.votes == 1 %}
                            {{ sticker.votes }}&nbsp;vote
                        {% else %}
                            {{ sticker.votes }}&nbsp;votes
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
