<table class="table table-condensed">
    <thead>
        <tr>
            <th>Team</th>
            <th>Sprint</th>
            <th style="width: 120px;">Type</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for sticker in stickers %}
            <tr {% if sticker.type == sticker.ACTION and sticker.is_completed == False %} class="error"{% endif %}>
                <td>
                    {{ sticker.retroBoard.team.name }}
                </td>
                <td>
                    <a href="/retro/{{ sticker.retroBoard.sprint.number }}/{{ sticker.retroBoard.team.name }}/"
                            target="_blank">
                    {{ sticker.retroBoard.sprint.number }}
                    </a>
                </td>
                <td>
                    {{ sticker.type_str }}
                </td>
                <td>
                    {{ sticker.summary }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
