<table class="hero-table">
    <tr class="hero-table-header">
        <td colspan="2"><b>Push hero</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="hero-img"><img src="/media/img/hero-superman.png" /></td>
        <td class="hero-line">
            <b>{{ hero.username }}</b> pushed to the repository <b>{{ hero_count }}</b> times.
        </td>
    </tr>
    <tr>
        <td>
            <small>
                <i>Push hero</i> is a person who set the record by number of pushes to the repository.
            </small>
        </td>
    </tr>

    <tr class="hero-table-header">
        <td colspan="2"><b>Skipper</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="hero-img"><img src="/media/img/hero-skip.png" /></td>
        <td class="hero-line">
            <b>{{ skipper }}</b> skipped <b>{{ skipper_count }}</b> pushes.
        </td>
    </tr>
    <tr>
        <td>
            <small>
                <i>Skipper</i> is a person who set the record by constantly skipping pushes in queue.
            </small>
        </td>
    </tr>

    <tr class="hero-table-header">
        <td colspan="2"><b>Reverter</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="hero-img"><img src="/media/img/hero-revert.png" /></td>
        <td class="hero-line">
            <b>{{ reverter }}</b> reverted <b>{{ reverter_count }}</b> times.
        </td>
    </tr>
    <tr>
        <td>
            <small>
                <i>Reverter</i> is a person who set the record by number of reverted commits.
            </small>
        </td>
    </tr>

    <tr class="hero-table-header">
        <td colspan="2"><b>Slowest Pusher</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="hero-img"><img src="/media/img/hero-turtle.png" /></td>
        <td class="hero-line">
            <b>{{ unhurried.owner }}</b>'s longest push lasted <b>{{ unhurried.push_duration }}</b> minutes.</td>
        </td>
    </tr>
    <tr>
        <td>
            <small>
                <i>Slowest pusher</i> is a person who set the record by the most continuous push.
            </small>
        </td>
    </tr>
</table>


