<!DOCTYPE html>
<html>
<head>
    <title>Maintenance</title>
    <style media="screen" type="text/css">
        body {
          margin: 0;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          background-color: #ffffff;
    }
</style>
</head>
<body>
<center>
    <img src="/media/img/webmaintenance.png" />
    <h3>Thank you for registering</h3>
    <p>Currently Push Queue application is under maintenance</p>
    <p>We will be back on Monday, 11am</p>
</center>
</body>
</html>