{% extends "dpq_base.html" %}
{% block title %}Search{% endblock %}

{% block javascript %}
    <script src="/media/js/search.js"></script>
{% endblock %}

{% block main %}

<style>
.highlight { background-color:yellow; }
</style>

<div class="control-group">
    <label class="control-label" for="dpq-search-searchstring">Search for:</label>
        <div class="controls">{% csrf_token %}
            <input class="input-xlarge"
                   type="text"
                   name="ps"
                   id="dpq-search-searchstring"
                   placeholder="Start typing..."
                   value="">
        </div>
</div>

<div id="dpq-search-searchresults"></div>

{% include "info/dpq_info_popup.html" %}

{% endblock %}
