<form id="add-to-queue-form" class="form-horizontal">

    <div class="well well-small">

        <div class="control-group" id="dpq-queue-key-input">
            <label class="control-label" for="dpq-add-queue-key">Story Key:</label>
            <div class="controls">
                <div class="input-append">
                      <input type="text" class="span2" name="key" id="dpq-add-queue-key" placeholder="PROJECT-0000">
                      <button class="btn" type="button" id="dpq-add-queue-jira">
                          <i class="icon-refresh"></i>&nbsp;&nbsp;JIRA</button>
                </div><span id="validation-msg"></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-add-queue-summary">Summary:</label>

            <div class="controls">
                <input type="text" name="summary" id="dpq-add-queue-summary" placeholder="Enter story summary">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-add-queue-branch">Branch:</label>

            <div class="controls">
                <select name="branch" id="dpq-add-queue-branch">
                    {% for branch in active_branches %}
                        {% if item %}
                            <option
                                    {% if item.branch == branch.name %} selected="selected" {% endif %}
                                                                        value={{ branch.name }}>{{ branch.name }}</option>
                        {% else %}
                            <option
                                    {% if branch.name == 'develop' %} selected="selected" {% endif %}
                                                                     value={{ branch.name }}>{{ branch.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-add-queue-team">Team:</label>
            <div class="controls">
                <select name="team" id="dpq-add-queue-team">
                    <option value="none">Not specified</option>
                    {% for team in teams %}
                        <option {% if item.team.name == team.name %} selected="selected" {% endif %}
                                value="{{ team.name }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>

    <div class="well well-small">

        <div class="control-group">
            <label class="control-label" for="dpq-add-queue-developer">Developer:</label>

            <div class="controls">
                <input type="text" name="developer" id="dpq-add-queue-developer" value="{{ item.story.assignee }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="dpq-add-queue-tester">Tester:</label>

            <div class="controls">
                <input type="text" name="tester" id="dpq-add-queue-tester" value="{{ item.story.tester }}">
            </div>
        </div>

    </div>

    <input type="hidden" id="dpq-add-owner" value="{{ user.username }}"/>
</form>
