<div class="modal hide fade" id="dpq-add-queue" style="width: 470px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign in to the queue</h3>
  </div>
  <div class="modal-body">
    <center>
        <img src="/media/img/ajax-loader.gif" />
    </center>
  </div>
  <div class="modal-footer">
    <a id="btn-save" href="#" class="btn btn-primary">Add</a>
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true" id="closeDialog">Cancel</a>
  </div>
</div>
