
[class^="team-"],
[class*=" team-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('/media/img/planets.png');
  background-position: 15px 14px;
  background-repeat: no-repeat;
}

.team-mercury {
  background-position: 0 0;
}

.team-venus {
  background-position: -15px 0;
}

.team-earth {
  background-position: -30px 0;
}

.team-mars {
  background-position: -44px 0;
}

.team-jupiter {
  background-position: -60px 0;
}